permissions:
	providers:
		roles: FALSE
		permissions: \IPubTests\Permissions\Libs\PermissionsProvider
		resources: \IPubTests\Permissions\Libs\ResourcesProvider

services:
	# Default roles provider
	providers.roles:
		class: IPubTests\Permissions\Libs\RolesProvider
